.contain{
    background-image:url("https://wallpaperaccess.com/full/1151629.jpg");
    background-size: cover;
    width:100%;
    height:100vh;
    background-position: center;
    position: relative;
    overflow: hidden;
    opacity:3vh;
    font-family: ;
    font-size: 4vh;
}

.box{
    display: flex;
    flex-direction: row;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8rem;
    color:rgb(248, 230, 204);
    padding:10px 19px;
    justify-content: center;
    padding-top:1.6rem;
    
}
#box1{
    border: 2px solid rgb(218, 195, 168);
    border-radius: 23px;
}
#box2{
    border: 2px solid rgb(218, 195, 168);
    border-radius: 23px;
}
#box3{
    border: 2px solid rgb(218, 195, 168);
    border-radius: 23px;
}
#box4{
    border: 2px solid rgb(218, 195, 168);
    border-radius: 23px;
}
#box5{
    border: 2px solid rgb(218, 195, 168);
    border-radius: 23px;
}
#box1 a{
    color: rgb(218, 195, 168);
    text-decoration: none;
}
#box2 a{
    color: rgb(218, 195, 168);
    text-decoration: none;
}
#box3 a{
    color: rgb(218, 195, 168);
    text-decoration: none;
}
#box4 a{
    color: rgb(218, 195, 168);
    text-decoration: none;
}
#box5 a{
    color: rgb(218, 195, 168);
    text-decoration: none;
}


.starter h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6rem;
    color:rgb(218, 195, 168);
    padding-left: 28rem;

}
.starter{
    ont-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.8rem;
    color:rgb(218, 195, 168);
    padding-left: 18rem;
}
.first{
    font-size: 3rem;
    color:rgb(218, 195, 168);
    display:flex;
    flex-direction:row;

}
#two{
    padding-left: 20vh;
}
#three{
    padding-left: 20vh;
}